
{% extends 'staff/staffindex.html'%}
{%block body%}
    <!-- main body here-->




    <div class="main-body">

        <!-- for home page -->
        <div class="body">
          <img class="body-img" src="./static/adminstyle/img2.jpg" width="800px" height="520px">
          <div class="body-cnt">
            <div class="cnt">
                <h1 class="body-h1">“Education is the most powerful weapon <br> which you can use to change the world.” </h1>
                <h6 class="body-h6">—Nelson Mandela</h6>
            </div>
          </div>
       </div>

    </div>





     <script src="./static/staffstyle/script.js"></script>
</body>
{%endblock%}