
{% extends 'staff/staffindex.html'%}
{%block body%}
          
    <!-- main body here-->

    <div class="main-body">
        <form action="/staffdeptsearch" class="attendance" method="post">

        <div class="filter-input">






          <label>Department:
            <select name="selects" id="f">
              <option disabled selected>--Department--</option>
              <option {% if dept=="CSE"%} SELECTED {%endif%}>CSE</option>
              <option {% if dept=="EEE"%} SELECTED {%endif%}>EEE</option>
              <option {% if dept=="ECE"%} SELECTED {%endif%} >ECE</option>
                              <option {% if dept=="AD"%} SELECTED {%endif%}  >AD</option>
              <option {% if dept=="RE"%} SELECTED {%endif%}>RE</option>
              <option {% if dept=="MR"%} SELECTED {%endif%}>MR</option>
              <option {% if dept=="ME"%} SELECTED {%endif%}>ME</option>

            </select>
          </label>
             <label>Division:
            <select name="divi" id="k">
              <option disabled selected>--Division--</option>
              <option {% if divi=="A"%} SELECTED {%endif%}>A</option>
              <option {% if divi=="B"%} SELECTED {%endif%}>B</option>
              <option {% if divi=="C"%} SELECTED {%endif%} >C</option>



            </select>
          </label>
             </label>
             <label>Semester:
           <select name="select1" id="f">
              <option disabled selected>--Semester--</option>

              <option {% if i=="1"%} SELECTED {%endif%}>1</option>
              <option {% if i=="2"%} SELECTED {%endif%}>2</option>
              <option {% if i=="3"%} SELECTED {%endif%} >3</option>
                              <option {% if i=="4"%} SELECTED {%endif%}  >4</option>
              <option {% if i=="5"%} SELECTED {%endif%}>5</option>
              <option {% if i=="6"%} SELECTED {%endif%}>6</option>
              <option {% if i=="7"%} SELECTED {%endif%}>7</option>
                                          <option {% if i=="8"%} SELECTED {%endif%}>8</option>


            </select>
          </label>

          <input type="submit" value="search" class="submit">
        </div>
     </form>
      <table id="Table">
        <div class="table-head" style="margin-top: 10px;">
            <h2>Student Details</h2>

            <!--<button class="add-student-btn"><a href="student_form.html" class="btn"><i class="fas fa-user-plus"></i> Add New Student</a></button>-->
        </div>
        <thead>
            <tr>
                <th></th>
                 <th>Registration No:</th>

                <th>Name</th>
                <th>Department</th>
                <th>Division</th>
                <th>Dob</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Emailid</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                {%for i in val%}

            <tr>
                <td><img src="./static/studentphoto/{{i[11]}}" width="150" height="150" alt=""></td>
                <td>{{i[3]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[8]}}</td>
                <td>{{i[10]}}</td>
                <td>{{i[7]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                <td>{{i[6]}}</td>
                <td>
                  <!--<a href="/editstudent?lid={{i[1]}}" class="edit"><span class="material-symbols-outlined">edit</span></a>-->
                 <!--<p></p>-->
                  <!--<a href="/deletestudent?lid={{i[1]}}" class="delete"><span class="material-symbols-outlined">delete</span></a>-->
                </td>
            </tr>
        {%endfor%}


        </tbody>
    </table>
    </div>

</body>
{%endblock%}