

<body>

 <div class="main-body">
      <div class="stu-form">
            <form class="student-form">
                  <h2>Student Registration</h2>

                  <label for="id">ID:</label>
                  <input type="text" id="id" name="id" required>

                  <label for="rollNo">Roll No:</label>
                  <input type="text" id="rollNo" name="rollNo" required>

                  <label for="name">Name:</label>
                  <input type="text" id="name" name="name" required>

                  <label for="rfid">RFID:</label>
                  <input type="file" id="rfid" name="rfid" required>

                  <button type="submit">Submit</button>
              </form>
      </div>
    </div>






</body>
{%endblock%}