{% extends 'admin/adminindex.html'%}
{%block body%}

    <!-- main body here-->

    <div class="main-body">
      <form action="/viewsubjects" class="attendance" style="width: 50%; margin: auto;" method="post">
            <button class="add-student-btn"><a href="/addubject" class="btn"><i class="fas fa-plus"></i> Add Subject</a></button>
    
    
                <div class="filter-input">
                  
                      <label for="Semester">Department:
                             <select name="select" id="f">
              <option disabled selected>--Department--</option>
              <option {% if dept=="CSE"%} SELECTED {%endif%}>CSE</option>
              <option {% if dept=="EEE"%} SELECTED {%endif%}>EEE</option>
              <option {% if dept=="ECE"%} SELECTED {%endif%} >ECE</option>
                              <option {% if dept=="AD"%} SELECTED {%endif%}  >AD</option>
              <option {% if dept=="RE"%} SELECTED {%endif%}>RE</option>
              <option {% if dept=="MR"%} SELECTED {%endif%}>MR</option>
              <option {% if dept=="ME"%} SELECTED {%endif%}>ME</option>

            </select>
                          </label>     
                  <label>Semester</label>
                   <select name="select1" id="f">
              <option disabled selected>--Semester--</option>

              <option {% if sem=="1"%} SELECTED {%endif%}>1</option>
              <option {% if sem=="2"%} SELECTED {%endif%}>2</option>
              <option {% if sem=="3"%} SELECTED {%endif%}>3</option>
                              <option {% if sem=="4"%} SELECTED {%endif%}>4</option>
              <option {% if sem=="5"%} SELECTED {%endif%}>5</option>
              <option {% if sem=="6"%} SELECTED {%endif%}>6</option>
              <option {% if sem=="7"%} SELECTED {%endif%}>7</option>
                                          <option {% if sem=="8"%} SELECTED {%endif%}>8</option>


            </select>
        
            &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;
                      &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                      &nbsp;  &nbsp;  &nbsp;
                      &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                      &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                      &nbsp;  &nbsp;  &nbsp;  &nbsp;
                      &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                    <input type="submit" value="view" class="submit" >
                </div> 
             </form>
        
             <!-- attendance display table -->
             <form action="" class="sub-display" style="width: 60%; margin: auto;">
              <table class="display-tbl">
        
                <tr>
                  <th>Staff</th>
                  <th>Subject</th>
                  <th>subject code</th>
                  <th></th>
                </tr>
                <!-- data here -->
                {%for i in val%}
            <tr>
                <td>{{i[6]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[1]}} (CODE:{{i[7]}})</td>



                <td>
                     <!--<a href="/editstaff?lid={{i[1]}}" class="edit"><span class="material-symbols-outlined">edit</span></a>-->
                  <a href="/deletesubject?lid={{i[0]}}" class="delete"><span class="material-symbols-outlined">delete</span></a>
                </td>

            </tr>
        {%endfor%}
              </table>
             </form>
    </div>
  

</body>
{%endblock%}